* {
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/galaxy1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    font-family: "Barlow";

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;

    width: 350px;
    height: 520px;
    border-radius: 20px;

    background-color: rgba(250, 250, 250, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    overflow: hidden;

}

#photo {
    position: absolute;
    top: 20%;
    height: 170px;
    border-radius: 50%;
}

#title {
    position: absolute;
    top: 55%;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

#about {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 62%;
}

#social_icons {
    display: flex;
    justify-content: center;

    position: absolute;
    width: 100%;
    height: 100%;

    transform: translateY(100px);
    opacity: 0;
    transition: all 200ms;
    
}

.icon {
    height: 50px;
    align-self: flex-end;
    margin: 80px 12.5px;
    
}

#social_icons:hover{
    transform: translateY(0);
    opacity: 100;
} 